@import "../../styles/const.scss";

.wrapper {
  text-align: center;
  background: $Header-bg;
  :global(.container) {
    padding: 0;
  }
  .header {
    padding: 1rem 0;
    text-align: center;
    position: relative;
    z-index: 999;
    width: 100%;
  }
  @media (min-width: 800px) {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    :global(.container) {
      padding: 0 20px;
    }
  }
}
