.header {
  display: none;
  font-size: 1.25rem;
  //   background: peru;
  @media (min-width: 600px) {
    display: flex;
    border-bottom: 2px solid #eee;
    padding: 1rem 0;
    .pickupAddress {
      flex: 1 1 100%;
    }
    .status {
      flex: 0 0 100px;
    }
    .time {
      flex: 0 0 200px;
    }
    .remove {
      flex: 0 0 100px;
      text-align: center;
    }
  }
}
